.side-bar{
  height: 70vh;
  width: 200px;
  padding: 3rem 0;
  background: rgba(128, 128, 128, 0.267);

  &__section{
    background: rgb(233, 233, 233);
    padding-bottom: .5rem;
    padding: 0 1rem 1rem;
    & h3{
      padding: 1rem 0;
    }
    & input{
      vertical-align:middle;
      margin: -2px 0 0 0;
    } 
    &__input-text{
      width: 80%;
      height: 1.8rem;
    } 
    & label{
      // display: inline-block;
      padding: 0 .3rem;
    }
    &__price{
      height: 1.8rem;
      margin-bottom: 1rem;
      & div{
        display: inline-block;
        width: 16px;
      }
      & label{
        padding: 0 0.4rem 0 0;
      }
    }
    &_zero-margin{
      margin: 0
    }
  }
}
